# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Production build
dist/

# OS / Editor files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea
.vscode/

# Local env files
.env
.env.local
.env.development.local
.env.production.local

# Temp unpacked files
unpacked_original.html
